<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhVRX9_U6tqEE_Wa8L3O9Rm2rX-q0lOn0</string>
	<key>GCM_SENDER_ID</key>
	<string>596957292503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beatBuddy</string>
	<key>PROJECT_ID</key>
	<string>beat-buddy-3073a</string>
	<key>STORAGE_BUCKET</key>
	<string>beat-buddy-3073a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596957292503:ios:c2a057635c6e6a3c2e8d92</string>
</dict>
</plist>